<p>App Componente - Inicio</p>
<!-- Para recibir los datos de onSendData se deben de almacenar en una función (esta función estara en app.component.ts, que es como el archivo principal ts del componente padre) -->
<!-- El output va a utilizar una función personalizada y se recibe el parámetro event-->
<app-caja status = 'busy' (onSendDataStatus)="printDataAppCaja($event)"></app-caja>

<!-- Cuando le queremos pasar uan variable de nuestro ts se ocupa corchetes, para los outputs -->
<!-- myStatus es una variable -->
<app-caja [status] = 'myStatus' (onSendDataStatus)="printDataAppCaja($event)"></app-caja>

<app-test name="Angel" lastName="Cortés" (onSendData)="printMessage($event)"></app-test>

<!-- <app-lifecycle notification="activo"></app-lifecycle> -->
<input type="text" [(ngModel)]="myStatus">

<!-- Si cumple se va a renderizar el componente -->
<button (click)="bandera = !bandera">Show ngDestroy</button>
<div *ngIf="bandera">
    <app-lifecycle [notification]="myStatus"></app-lifecycle>
</div>

